.link-color{
  color: #000;
}
.link-color:hover{
  color: #b7b7b7;
  text-decoration: none;
}

#car-shop{
  font-size: 0.9em;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
}
